*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #fb91f4;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

body{
    background-color: #fcdcf8;
    padding: 0px;
   
}

main{
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    color: #000000;
    background-color: #ffe6fa;
    border-radius: 10px;
    height: auto;
}

.img-alex{
    
    height: 250px;
    width: 250px;
}

h2{
    color: #000000;
}

footer{
    background-color: #fb91f4;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
